<section class="corona-card">

    <h3>
        COVID-19 report for today:
        00/00/0000
    </h3>
    <canvas class="coronaCanvas"></canvas>
    <table>
        <tr>
            <td>Active:</td>
            <td> Confirmed:</td>
        </tr>
        <tr>
            <td>Recovered:</td>
            <td>Deaths:</td>
        </tr>
    </table>

</section>