<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head')  %>
    <title>Find Results</title>
</head>

<body>
    <header>

        <%- include('../partials/layout/header')  %>
    </header>
    <main>
        <h1>Proof of life</h1>

    </main>
    <footer>

        <%- include('../partials/layout/footer')  %>
    </footer>
</body>

</html>