<div id="footer">
    <div class="footercol">
        <form>
            <label for="email-sub">Subscribe to our newsletter</label>
            <input type="email" name="email" id="email-sub" placeholder="Your email here"><br><br>
            <input href="#" type="submit" value="Subscribe">
        </form>
       
    </div>
    
    <div class="footercol">
        <ul>
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://twitter.com/"> <i class="fab fa-twitter-square"></i></a></li>
            <li><a href="https://www.pinterest.com/"><i class="fab fa-pinterest-square"></i></a></li>
            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a></li>
        </ul>
    </div>
    <div class="footercol">
        <h5 id="copyright">&copy;2021 SOFT-Care team </h5>
    </div>
</div>
