<nav>
    <a href="/">
        <img class="logoImg" src="/assets/img/logo/logo-removebg-preview.png" alt="">
    </a>
    <a href="/">
        <h2 id="logo">Medic Pool</h2>
    </a>
    <input type="checkbox" name="" id="">
    <ul>
        <li><a href="/">HOME PAGE</a></li>
        <li><a href="/find">SEARCH FOR A DOCTOR</a></li>
        <li><a href="/appointments">YOUR APPOINTMENTS</a></li>
        <li><a href="/history">MEDICAL HISTORY</a></li>
        <li><a href="/articles">READ USEFUL ARTICLES</a></li>
        <li><a href="/profile">USER PROFILE</a></li>
        <li><a href="/signup">SIGN UP</a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/about">ABOUT US</a></li>
    </ul>
    <div class="slidermenu">
        <span class="hamburger"></span><span class="hamburger"></span><span class="hamburger"></span>
    </div>
</nav>