<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head') %>
        <link rel="stylesheet" href="/css/SMACSS/modules/about-us.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
        <title>About Us</title>
</head>

<body>
    <header>
        <%- include('../partials/layout/header') %>
    </header>
    <main>
        <section class="hero-section">
            <div class="card-grid">
                <a class="card" href="https://github.com/ramomar1992">
                    <div class="card__background" style="background-image: url(/assets/team-images/Omar.jpg)"></div>
                    <div class="card__content">
                        <p class="card__category">Software Developer & Team leader</p>
                        <h3 class="card__heading">Omar Ramadan</h3>
                    </div>
                </a>
                <a class="card" href="https://github.com/faisalabuzaid">
                    <div class="card__background" style="background-image: url(/assets/team-images/Faisal.jpg)"></div>
                    <div class="card__content">
                        <p class="card__category">Mechatronics Engineer</p>
                        <h3 class="card__heading">Faisal AbuZaid</h3>
                    </div>
                </a>
                <a class="card" href="https://github.com/talahajeer">
                    <div class="card__background" style="background-image: url(/assets/team-images/Tala.jpg)"></div>
                    <div class="card__content">
                        <p class="card__category">Architecture Engineer</p>
                        <h3 class="card__heading">Tala Hajeer</h3>
                    </div>
                    </li>
                    <a class="card" href="https://github.com/Sajeda-Araidah">
                        <div class="card__background" style="background-image: url(/assets/team-images/sajeda.jpg)">
                        </div>
                        <div class="card__content">
                            <p class="card__category">Computer Engineer</p>
                            <h3 class="card__heading">Sajeda Araidah</h3>
                        </div>
                    </a>
                    <div>
        </section>
    </main>
    <footer>

        <%- include('../partials/layout/footer') %>
    </footer>
</body>

</html>