<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head')  %>
    <link rel="stylesheet" href="/css/SMACSS/modules/error-page-module.css">
    <title>Error 404</title>
</head>

<body>
    <header>

        <%- include('../partials/layout/header')  %>
    </header>
    <main>
        <h1 id="error">Error 404: Page requested not found</h1>

    </main>
    <footer>

        <%- include('../partials/layout/footer')  %>
    </footer>
</body>

</html>