<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head')  %>
    <link rel="stylesheet" href="/css/SMACSS/modules/homepage-main-module.css">
    <title>Home Page</title>
</head>

<body>
    <header>
        <%- include('../partials/layout/header')  %>
    </header>
    <main>
        <div class="hero-image">
            <div class="hero-text">
              <h1 style="font-size:50px">MedicPool</h1>
              <p>The Place Health FLORISH</p>
              <button>Find a Doctor</button>
            </div>
          </div>
        <section id="sectionOne">
            <div>
                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                <a href="/covid19">Latest COVID-19 News</a>
            </div>
            <div>
                <a href="/locandphone">Locations and Phone Numbers</a>
            </div>
            <div>
                <a href="/signup">Join Our Community</a>

            </div>
        </section>

    </main>
    <footer>

        <%- include('../partials/layout/footer')  %>
    </footer>
</body>

</html>