<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head')  %>
    <link rel="stylesheet" href="/css/SMACSS/modules/homepage-main-module.css">
    <title>Home Page</title>
</head>

<body>
    <header>
        <%- include('../partials/layout/header')  %>
    </header>
    <main>
        <section>
            <video autoplay muted loop class="mainVid">
                <source src="/assets/video/production ID_4487290.mp4" type="video/mp4">
            </video>
            <a href="/searches/find">Find a Doctor</a>
        </section>
        <section id="mainLinks">
            <a href="/covid19">Latest COVID-19 News</a><a href="/locandphone">Locations and Phone Numbers</a><a
                href="/signup">Join Our Community</a>
        </section>

    </main>
    <footer>

        <%- include('../partials/layout/footer')  %>
    </footer>
</body>

</html>