<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/layout/head')  %>
    <title>Home Page</title>
</head>

<body>
    <header>

        <%- include('../partials/layout/header')  %>
    </header>
    <main>
        <section>
            <img src="assets/img/doctor cover.jpg" alt="">
            <a href="/searches/find">Find a Doctor</a>
        </section>
        <section id="mainLinks">
            <a href="/covid19">Latest COVID-19 News</a><a href="/locandphone">Locations and Phone Numbers</a><a
                href="/signup">Join Our Community</a>
        </section>

    </main>
    <footer>

        <%- include('../partials/layout/footer')  %>
    </footer>
</body>

</html>