.mainCorona {
    width: 80%;
    margin: 3rem 0;
}

.coronaSearch {
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

select,
input[type='date'] {
    height: 5vh;
    background-color: #f8de7e;
    color: #373c378c;
    font-size: 1.3rem;
    font-family: 'russo one';
    padding-left: 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
}

select:focus {
    background-color: steelblue;
    color: white;
}

label {
    width: 100%;
}

input[type='submit'] {
    height: 1.5em;
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.411);
    background-color: mediumslateblue;
    color: white;
    font-size: 2rem;
}

.coronaSearch input[type='submit'] {
    width: 80%;
    margin: 3rem auto;
}

input[type='submit']:hover:active {
    box-shadow: 0 12px 9px 0 rgba(0, 0, 0, 0.377),
        inset 0px 0px 10px 2px rgba(0, 0, 0, 0.377);
    transform: scale(1.01);
    transition: 0s;
}

input[type='submit']:hover {
    transition: 200ms ease-out;
    transform: scale(1.02);
    box-shadow: 0 12px 9px 0 rgba(0, 0, 0, 0.411);
}

td {
    font-size: 1.5rem;
}