.mainCorona {
    width: 80%;
    margin: 3rem auto;
}

.coronaSearch {
    display: flex;
    flex-direction: column;
}
.fields {
    width: 100%;
    /* min-height: 30vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.input{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    flex-basis: 17rem;   
    justify-content: space-between;
    flex-basis: 17rem;
    width: 30%;
}
select,
input[type='date'] {
    height: 5vh;
    background-color: #f8de7e;
    color: #373c378c;
    font-size: 1rem;
    font-family: 'russo one';
    padding-left: 2rem;
    border-radius: 10px;
    outline: none;
    border: none;
}
select{
    flex-basis: 17rem;
    max-width: 17rem;
    width: 30%;
    margin-right: 2rem;
}
input[type='date']{
    margin-right:2rem;
    flex-basis: 17rem;
}

select:focus {
    width: 17rem;
    background-color: steelblue;
    color: white;
}

label {
    width: fit-content;
    justify-self: flex-end;
}

input[type='submit'] {
    height: 1.5em;
    border-radius: 25px;
    outline: none;
    border: none;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.411);
    background-color: mediumslateblue;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.coronaSearch input[type='submit'] {
    width: 50%;
    margin: 3rem auto;
}

input[type='submit']:hover:active {
    box-shadow: 0 12px 9px 0 rgba(0, 0, 0, 0.377),
        inset 0px 0px 10px 2px rgba(0, 0, 0, 0.377);
    transform: scale(1.01);
    transition: 0s;
}

input[type='submit']:hover {
    transition: 200ms ease-out;
    transform: scale(1.02);
    box-shadow: 0 12px 9px 0 rgba(0, 0, 0, 0.411);
}

td {
    font-size: 1.5rem;
}