* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

:root {
    --primary--color:#112950;
    --secondaty--color:#FF4949;
}
body {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: var(--primary--color);
}

main {
    width: 100%;
    min-height: 100vh;
}
a {
    color: var(--primary--color);
    text-decoration: none;
    display: inline-block;
}

label {
    display: block;
}

a:hover {
    text-decoration: underline;
    color: var(--secondaty--color);
}