<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/layout/head') %> 
        <title>Corona Virus Search</title>
    </head>
    <body>
        <header>
            <%- include('partials/layout/header') %> 
        </header>
        <main>
            <select name="country" id="cnty"></select>
        </main>
        <footer>
            <%- include('partials/layout/footer') %> 
        </footer>
    </body>
</html>