<!DOCTYPE html>
<html>

<head>
    <%- include('../../partials/layout/head') %>
    <link rel="stylesheet" href="/css/SMACSS/modules/search-corona-module.css">
    <title>Corona Virus Search</title>
</head>

<body>
    <header>
        <%- include('../../partials/layout/header') %>
    </header>
    <main class="mainCorona">
        <form class="coronaSearch">
            <div class="fields">

                <select name="country" id="cnty" required>
                    <option value="" selected disabled>Selece Country</option>
                </select>
                <div class="input">
                    <label for="dateFrom">
                        Date From:
                    </label>
                    <input type="date" name="dataFrom" id="dateFrom" placeholder="From" required>
                </div>
                <div class="input">

                    <label for="dateTo">
                        Date To:
                    </label>
                    <input type="date" name="dateTo" id="dateTo" placeholder="To" required>
                </div>
            </div>
            <input type="submit" value="Search" id="submitCorona">
        </form>
        <div class="todaysCoronaReport">

        </div>
        <div class="rangeCoronaReport">

        </div>

    </main>
    <footer>
        <%- include('../../partials/layout/footer') %>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/jquery/jquery.js"></script>
    <script src="./js/app.js"></script>
</body>

</html>